# =============================================================================
# TEMPLATE DE VARIABLES DE ENTORNO
# -----------------------------------------------------------------------------
# CONFIGURACIÓN SMTP (Correo Electrónico)
# -----------------------------------------------------------------------------
SMTP_HOST=smtp.ejemplo.com
SMTP_PORT=587
SMTP_EMAIL=notificaciones@cramer.cl
SMTP_PASSWORD=tu_password_aqui

# -----------------------------------------------------------------------------
# MODO PRUEBA
# -----------------------------------------------------------------------------
TEST_MODE=false
TEST_EMAIL=correo_pruebas

# -----------------------------------------------------------------------------
# TÚNEL SSH
# -----------------------------------------------------------------------------
SSH_HOST=ip_servidor
SSH_PORT=22
SSH_USER=usuario_ssh
SSH_PASSWORD=password_ssh

# -----------------------------------------------------------------------------
# CONFIGURACIÓN POSTGRESQL (via túnel SSH — host siempre localhost)
# -----------------------------------------------------------------------------
PG_PORT=5432
PG_DATABASE=nombre_base_datos
PG_USER=usuario
PG_PASSWORD=password